header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
    background-color: lightblue;
    box-sizing:border-box;
}

h1 {
    margin: 0; 
}

.boxheader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    box-sizing: border-box;
    margin-top: 2px;
    gap: 10px; 
}


.button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    border: 1px solid transparent; 
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    background-color: white;
    color: black;
    text-decoration: none; 
}

.button:hover {
    background-color: lightgreen;
}

.A {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.BigBox {
    margin: 0;
    display: flex;
    justify-content: center;
    border: none;
}

.box {
    display: grid;
    width: 800px;
    height: 800px;
    background-color: rgb(138, 219, 211);
    border: 5px solid gray;
    box-sizing: border-box;
}

.num
{
    margin-top: 10px;
    display: inline;
    border-color:aqua;
    border-radius: 10px;
}
input[type = "number"]::-webkit-inner-spin-button,
input[type = "number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.num:hover{
background-color: aquamarine;
}

.cell {
    border: 1px solid black;
    background-color: rgb(138, 219, 211);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.wall {
    background-color: black;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}
