header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: lightblue;
    box-sizing: border-box;
}
h1 {
    margin: 0; 
}
.boxheader
{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin : 0 ;

padding :10px;
border-radius: 10px;
background-color: lightgray;
box-sizing: border-box;
margin-top: 2px;

}
.button
{
    width: 100%;
width: 150px;
height: 30px;
border:1px;
align-items: center;
justify-content: center;
display: flex;
margin-right: 10px;
padding:1px;
border-radius: 10px;
cursor:pointer;
font-size:13px;
}
.button:hover
{
    background-color: lightgreen;
}
